node_modules/
client/node_modules/
client/dist/
data/
storage/
.env
.env.local
.env.production
npm-debug.log*
yarn-debug.log*
yarn-error.log*
temp_build/
Final C panel build/
cpanel_deploy/
production_package/
YouBGram_PRODUCTION_V103.zip
build-error.log
